
body {
    margin: 0;
    height: 100%;
    width: 100%;
    line-height: 1.5rem;
    background-color: white;
}

.header {
    display: flex;
    align-items:flex-end;
    justify-content:space-around;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    background-color: black;
    border-bottom: rgb(219,129,56) 8px solid;
    position: sticky;
    top:0;
    width: 100%;
    z-index: 3;
}

.header__logo {
    text-align:center;
    line-height: 1%   
}

.header__logo_title {
    font-size: 60px;
    color: white;   
}

.header__logo_subtitle {
    font-size: 30px;
    color: white;   
}

.header__nav {
    padding-bottom: 20px;
    font-size: 30px; 
}

.header__nav a { 
    text-decoration: none;
}

.header__nav a:link{
    color: white
}

.header__nav a:hover{
    text-decoration: underline;
    text-align: center;
    padding: 4px 4px;
}

.header__nav a:visited {
    color:rgb(241,217,122);
}

.bannerphoto {
    background: url(/image/titanic.jpg) no-repeat center;
    width: 100%;
    height: 450px;
    background-size: cover;
    background-color: black;
    position:relative;
    padding-top: 20px;
    background-position: 0px -100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.bannerphoto__txt {
    position: absolute;
    top: 30px;
    right: 60px;
    line-height: 0px;
    color:rgb(241,217,122);
}

.bannerphoto__tx_maintxt {
    font-size: 80px;  
}

.bannerphoto__txt_subtxt {
    font-size: 40px;
}



.content {
    max-width: 1200px;
    margin: 80px auto;
    padding: 8px;
}

.content-buttons {
    display: flex;
    justify-content:flex-end;
    margin-top: -50px; 
}

.content-buttons__link {
    padding: 10px 30px;
    margin: 0px 0px 0px 20px;
    border-radius: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: rgb(221,160,53);
}

.about {
    font-size: 50px;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:lighter;
    margin-top: -20px;
}

.about__image {
    float: right;
    padding: 50px 10px 0px 5px;
    width: 200px;
    height: 290px;
}

.about__text {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}



/******** spfx content *********/


.spfx_content {
    max-width: 1200px;
    margin: 80px auto;
    padding: 8px;

}

.spfx_h1 {
    font-size: 50px;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:lighter;
    margin-top: 20px;

}

.spfx_main__card_container {
    display: grid;
    grid-template-columns: 600px 600px;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-areas: spfx_content;
    row-gap: 60px;
    column-gap: 100px;
}

.spfx_card {
    display: flex;
    width: 600px;
    height: 300px;
    box-shadow: var(--gray) 4px 4px 10px 2px;
    border-radius: 3px;
}

.spfx_card__img {
    float: left;
    margin: 20px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: auto;
    height: 200px;
}

.spfx_card__text_block {
    max-width: 200px;
    max-height: 300px;
    border: 1px solid black; 
}


.spfx_card__details {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.spfx_card___spfx_topic {
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    
}

.spfx_card_text__learn_more {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    margin-top: 20px;
}

/******** spfx content *********/


footer {
    color:white;
    background-color: rgb(39,95,142);
    padding: 20px ;
    display: flex;
    justify-content:center;
    border-top: rgb(219,129,56) 8px solid;
}


/* responsive screen for iPads */

@media screen and  (min-width: 768px) and (max-width:1370px){

.header {
    min-height: 150px;   
}

.header__logo {
    color: white;
    position: absolute;
    top: 0;
    text-align: center;
}

.header__logo_title {
    font-size: 46px;
}

.header__logo_subtitle {
    font-size: 28px;   
}

.header__nav {
    overflow: hidden;
    display:contents;
    text-align:center;
    font-size: 28px;   
}

.header__nav a {
    text-decoration: none;
}

.header__nav a:hover {
    background-color: antiquewhite;
    color: black;
}

.header__nav a:active {
    background-color: darkgoldenrod;
    color:white
}

.bannerphoto {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-color: black;
    position:relative;
    background-position: 0px -30px;
}

.bannerphoto__txt {
    color:rgb(253, 253, 170);
    line-height: 10px;
    text-align: center;
}

.bannerphoto__txt_maintxt {
    font-size: 40px; 
}

.bannerphoto__txt_subtxt {
    font-size: 30px;
}

.content-buttons {
    display:flex;
    grid-gap: 15px;
    float: right;
    margin-top: -40px;
}

.about {
    font-size: 40px;
    margin-top: -20px;
    padding-left: 10px;
}

.about__text {
    padding: 10px 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.about__image {
    padding: 0 5px 0px 5px;
    width: 150px;
    height: 220px;
    margin-top: 10px;
    float: right;
}



}


/* responsive screen for phones */

@media screen and  (max-width: 767px) {

.header {
    min-height: 150px;   
}
    
.header__logo {
    color: white;
    position: absolute;
    top: 0;
    text-align: center;
}
    
.header__logo_title {
    font-size: 34px;
}
    
.header__logo_subtitle {
    font-size: 20px;
}
    
.header__nav {
    overflow: hidden;
    font-size: 13px;
    display: contents;
    text-align: center;
}
    
.header__nav a:hover {
    background-color: antiquewhite;
    color: black;
}
    
.header__nav a:active {
    background-color: darkgoldenrod;
    color:white
}
    
.bannerphoto {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-color: black;
    position:relative;
    background-position: 0px -30px;
}
    
.bannerphoto__txt {
    color:rgb(253, 253, 170);
    position:absolute;
    top: 170px;
}
    
.bannerphoto__txt_maintxt {
    font-size: 35px; 
}
    
.bannerphoto__txt_subtxt {
    font-size: 20px;
}
    
.content-buttons {
    display:grid;
    grid-gap: 10px;
    margin-top: -50px;
}

.about{
    font-size: 40px;
    margin-top: -60px;
    margin-bottom: 60px;
    padding-left: 10px;
}

.about__image {
    display:grid;
    padding: 0 5px 0px 5px;
    width: 200px;
    height: 290px;
}   
}